body {
  font-family: sans-serif;
  margin: 0;
  color: rgb(51, 51, 51);
  height: 100%;
}

button {
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  height: 35px;
  background: transparent;
  border: 2px solid #87bbfd;
  color: rgb(16, 39, 54);
  font-size: 14px;
  padding: 0 12px;
}

button i.icon {
  display: inline-block;
  margin-right:7px;
}

button i.icon.icon-right {
  margin-left: 7px;
  margin-right: 0;
}

button:focus {
  outline: 0;
}

button:hover, button.active {
  border-color: #6772e5;
  background: #6772e5;
  color: #ffffff;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#app .fill-view {
  flex-grow: 1;
}

#app .has-options {
    display: flex;
    height: 100%;
}

/* Navigation header */
.app-header {
  background: #424770;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.app-header nav {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.app-header nav h1, h2 {
  padding: 15px 8px 10px 8px;
  margin: 0;
  margin-right: 10px;
  border-bottom: 5px solid transparent;
  font-weight: normal;
}

.app-header h1 {
  font-size: 22px;
}

.app-header h2 {
  font-size: 18px;
}

.app-header h2.router-link-active {
  border-bottom-color: #beb0f4;
}

.app-header a {
  text-decoration: none;
  color: white;
}

.app-header button {
  margin-left: 10px;
  color: rgb(255,255,255);
  align-self: center;
}

.app-header button.show-monitor-options {
  display: none;
}

/* Monitor: event list */
.eventList {
  flex-grow: 1;
}

.eventList.options-sticky {
    margin-right: 300px;
}

.eventList ul {
  padding: 0;
  margin: 0;
}
.eventList li {
  list-style-type: none;
}

/* Monitor: individual events */
.event {
  padding: 10px 20px;
  border-bottom: thin solid #e4e4e4;
  overflow: hidden;
}

.event.expanded {
  max-height: auto;
}

.event p {
  margin: 0;
}

.event header {
  display: flex;
  margin-bottom: 10px;
}

.event header .eventType {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: rgb(111, 111, 111);
}

.event header .timestamp {
  font-size: 13px;
}

.event .event-body {
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.event .details {
  flex-grow: 1;
  padding-right: 10px;
}

.event .details .text-description {
  border-left: 5px solid rgb(219, 219, 219);
  padding-left: 15px;
}

.event .event-body button {
  font-size: 12px;
  padding: 0 10px;
  padding-right: 24px;
  height: 35px;
  align-self: center;
  position: relative;
}

.event .event-body button i {
  position: absolute;
  right: 13px;
  top: 52%;
  transform: perspective(1px) translate(0, -52%);
  font-size: 10px;
  transition: right 0.1s;
}

.event .event-body button:hover i  {
  right: 11px;
}

.event .details .summary {
  margin-top: 0;
  margin-bottom: 10px;
}

.event .details .summary a {
  color: rgb(33, 122, 183);
  text-decoration: none;
}

.event .details .summary a:hover {
  border-bottom: thin dotted rgb(33, 122, 183);
}

.event .details .description {
  margin: 0;
  font-style: italic;
}

.event .event-data {
    display: flex;
}

.event .event-data .show-event-data {
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.event .event-data .show-event-data i.icon {
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.2s ease;
}

.event .event-data .expanded .show-event-data i.icon {
  transform: rotate(90deg);
}

.event .event-data code {
  font-size: 12px;
}

.event .event-data .showJSON {
  flex-basis: 200px;
}

.event .eventJSON, .event .event-metadata {
    border: thin solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.event .eventJSON a {
  color: inherit;
  text-decoration: none;
  border-bottom: thin dotted;
}

.eventList-enter {
  opacity: 0;
}

.eventList-enter-active {
  transition: all 0.8s;
}

.eventList-enter-to {
  opacity: 1;
}

/* Charts */
.charts {
  padding: 14px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.charts svg {
  z-index: 10;
}

.charts .recentEvents {
  flex-grow: 1;
}

.charts h1 {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 11px;
  font-size: 22px;
  font-weight: normal;
}

.charts path {
  stroke-width: 1;
}

.charts .events-area {
  height: 100%;
  width: 100%;
}

.charts .events-legend {
  position: absolute;
  z-index: 50;
  top: 20px;
  right: 0;
  font-size: 13px;
}

/* Monitor options */
.monitor {
  position: relative;
  height: 100%;
}

.monitor-options {
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #f6f9fc;
  padding: 20px 25px;
  transition: right 0.2s ease-in-out;
}

.monitor-options.sticky {
  position:fixed;
  right: 0;
  height: 100%;
  top: 0;
  width: 250px;
}

.monitor-options h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  color: #32383d;
}

.monitor-options .filterEvents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.monitor-options .filter {
  margin: 10px 0;
  font-size: 13px;
}

.monitor-options .filter label {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.monitor-options .filter label .count {
  font-style: italic;
}

.monitor-options .filter input[type=checkbox] {
  margin: 0;
  margin-right: 5px;
  display: none;
}

.monitor-options .filter input[type=checkbox] + span.checkbox:before {
  display: inline-block;
  font-family: "Ionicons";
  content: "\f372";  /* Unchecked icon */
  letter-spacing: 5px;
  font-size: 15px;

}

.monitor-options .filter input[type=checkbox]:checked + span.checkbox:before {
  content: "\f373"; /* Checked icon */
}

.monitor-options .filter .color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/* Responsive details */
@media (max-width: 650px){
  .app-header {
    padding: 0 10px;
  }

  .app-header h1 {
    font-size: 19px;
  }

  .app-header h2 {
    font-size: 17px;
  }
  .app-header button .button-text {
    display: none;
  }

  .app-header button .icon {
    margin-right: 0;
  }
}

@media (max-width: 800px){

  .app-header button.show-monitor-options {
    display: block;
  }

  .monitor-options {
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: -5px 1px 30px 0 rgba(0,0,0,0.1);
  }

  .monitor-options.showing {
    right: 0;
  }
}
